body{
    background-color: rgb(63, 92, 96);
}

h1{
    margin-top: 45px;
   text-align: center;
   color: azure;
  
}

.board-commands{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#toDoList{
    background-color: azure;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    width: 520px;
    height: 400px;
    position: absolute;
    top:44%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.Text-Picker{
    width: 220px;
    height:40px;
    background-color: azure;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.Date-Picker{
    width: 210px;
    height: 40px;
    background-color: azure;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

}

#add-button{
    width: 80px;
    height: 40px;
    background-color: rgb(79, 147, 215);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-width: 0px;
    cursor: pointer;
}



.element-of-list{
    display: flex;
    font-family: Arial;
    font-size: large;
    margin-top: 10px;
    color: black;
    align-items: center;
    height: 35px;
    
}

.edit-button{
    background-color: darkorange;
    border-width: 0px;
    border-radius: 2px;
    width: 50px;
    height: 30px;
    position: absolute ;
    left:74%;
    cursor: pointer;
    
}

.Check-Box{
    position: absolute;
    left: 70%;
    width:20px;
    height: 15px;
   cursor: pointer;
}

.Delete-Button{
    position: absolute;
    left: 85%;
    background-color: red;
    color: white;
    font-weight: bold;
    height: 30px;
    border-width: 0;
    border-radius: 3px;
    cursor: pointer;
}


/*When you click edit button*/

.Update-Button{
    background-color: rgb(79, 147, 215);
    height: 30px;
    margin-left: 50px;
    border-radius: 5px;
    border-width: 0px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.Text-Picker2{
    width: 180px;
    height:30px;
    background-color: azure;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.Date-Picker2{
    width: 170px;
    height: 30px;
    background-color:azure;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

}
