body {
    font-family: Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

.navbar { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.board-commands {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

/*

#text-picker-container { 
    padding-left: 0;
}

#date-picker-container { 
    padding-right: 0;
}
*/

#add-todo-button-container { 
   padding-left: 12px;
   padding-right: 12px;
   margin-top: 10px;
}

.row>* {
    padding-top: 10px;
}

.dashboard { 
    max-width: 500px;
}

.add-todo-button { 
    margin-bottom: 20px;
    margin-top: 10px;
}




.element-of-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

}


.todo-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.bottom-container{ 
     display: flex;
     flex-direction: row;
     align-items: center;
}

.options {
    display: flex;
    flex: 1;
    align-items: center;
} 


.due-date {
  width: 200px;
}

.Check-Box {
    margin-right: 15px;
}

.edit-button {
    background-color: #198754;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #167147;
}

.Delete-Button {
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.Delete-Button:hover {
    background-color: rgb(110, 110, 110);
}



.Text-Picker2,
.Date-Picker2 {
    margin-right: 10px;
}

.Update-Button { 
    width: 200px;
    margin-right: 10px;
}
