body {
    background-color: lightcyan;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.board-commands {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#todo-title { 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#date-picker { 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.row>* {
    padding-right:0;
    padding-left: 0;
}

.dashboard { 
    max-width: 500px;
}




.element-of-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#add-button{ 
     width: 100%;
}

.todo-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.bottom-container{ 
     display: flex;
     flex-direction: row;
     align-items: center;
}

.options {
    display: flex;
    flex: 1;
    align-items: center;
} 


.due-date {
  width: 200px;
}

.Check-Box {
    margin-right: 15px;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}

.Delete-Button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.Delete-Button:hover {
    background-color: #c82333;
}



.Text-Picker2,
.Date-Picker2 {
    margin-right: 10px;
}

.Update-Button { 
    width: 200px;
    margin-right: 10px;
}
